* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.section {
    background-color: blue;
    display: flex;
}

#article {
    background-color: blueviolet;
}

.valores_String {
    margin-top: 8px;
}

#Formulario input {
    display: block;
    align-items: center;
    width: 320px;
    padding: 8px;
    margin-bottom: 8px;

    /* Área de font, tamanho, cor, espessura*/
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#Formulario label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #f0f0f0;
}

#Formulario button {
    padding: 8px;
}