* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.section {
    background-color: blue;
    display: flex;
}

#article {
    background-color: blueviolet;
}

.valores_String {
    margin-top: 8px;
}

.valores_String label,
.valores_String input {
    display: block;
    align-items: center;
    width: 320px;
    padding: 8px;
    margin-bottom: 8px;

    /* Área de font, tamanho, cor, espessura*/
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif
}